:root {
    --blue-grey-50: #ECEFF1;
    --blue-grey-100: #CFD8DC;
    --blue-grey-200: #B0BEC5;
    --blue-grey-900: #263238;
}

body {
    color: #000;
    text-align: center; 
    font-family: "Inter";
}

header{
    color: white;
    background-color: black;
}
.one{
    background-color: var(--blue-grey-50);
    padding: 2rem 4rem;   
}

h1,h2{
    font-family: Georgia, 'Times New Roman', Times, serif
}

span{
   font-size: 40px; 
}
