:root {
    --blue-grey-50: #ECEFF1;
    --blue-grey-100: #CFD8DC;
    --blue-grey-200: #B0BEC5;
    --blue-grey-900: #263238;
}

body {
    color: #000;
    text-align: center; 
    font-family: "Inter";

}

header,footer{
    color: white;
    background-color: black;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    
}


button{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 1em;
    border-radius: 0.5em;
    max-width: 103px;
    margin-top: 1rem;
    margin-bottom: 2rem;

}



/* sections */

section,footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
}
.one{

    background-color: var(--blue-grey-50);
    
}


.two{
    background-color: white;
    color: black;




}
.three{
    background-color: #78909C;
    color: white;
    


}
.four{
    background-color: var(--blue-grey-200);
    color: black;
}
.five{
    background-color: var(--blue-grey-900);
    color: white;
}
.fivebox{
    background-color: white;
    color: black;
    padding: 1rem;
    max-width: 670px;
}


/* sections end */




.contentV{

    max-width: 1040px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.contentHeader{
    width: 100%;
    max-width: 1040px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.contentH{

    max-width: 1040px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.logo{
    width: 5.6rem; 
    height: auto;
}



h1{
    font-family: "Libre Baskerville";
    font-size: 3.5rem;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 2.25rem;
}

    
li{
    margin-top: 1rem;
}

a{
    color: white;
    text-decoration: none;
    margin: 0rem 1rem;
}

.asterisk{
   font-size: 2.5rem; 
}

footer p{
    color: var(--blue-grey-200);
}
footer .footerLinkBox p{
    color: white;
}

footer .footerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1040px;
    width: 100%;
}



footer .footerContent nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    
}


/* page exclusive and media queries */
.homeImgOne{
    width: 100%;
    max-width: 1040px;
}

.homeTwoBox,
.homeFourBox,
.galleryOneBox{
    text-align: left;
    align-items: baseline;
}

.homeThreeName{
    margin-bottom: 0;
    margin-top: 0.75rem;
}
.homeFourBox,
.galleryOneBox{
    margin-top: 3rem;
}

.galleryThreeBox{
    width: 50%;
}
.galleryOneBox figure img{
    max-width: 100%;
    width: 100%;
    margin: 0;

}
figure{
    margin: 0;
}
.homeFourBigBox{
    width: 100%;
    max-width: 1040px;
}
.galleryFiveBigBox{
    width: 100%;
    max-width: 1040px;
}

/* small*/
@media screen and (max-width:700px){

    .fivebox{
        max-width: 1040px;
        width: 90%;
    }
    .homeTwoBox{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    footer .footerContent{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 1040px;
        width: 100%;
    }


    .contentHeader{
        flex-direction: column;
        justify-content: space-around;
    }
    .galleryThreeBox{
        width: 100%;
    }


}


/* mid*/
@media screen and (min-width:700px) and (max-width:1200px){
    .fivebox{
        width: 60%;
    }
    .homeTwoBox{
        width: 50%;
    }
    .homeFourBox,
    .galleryOneBox{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    .homeFourBoxTwo,
    .galleryOneBoxTwo{
        flex-direction: row-reverse;
    }
    .homeFourText,
    .galleryOneText{
        width: 48%;
        margin: 1rem;
    }

    .homeFourBox img{
        width: 45%;
    }

    .galleryOneBox img{
        width: 48%;
    }

    .galleryOneBox figure{
        max-width: 200%;
        width: 48%;
        margin: 0;    
    }
    
    footer{
        display: flex;
        flex-direction: column;
    
    }
    footer .footerContent{
        display: flex;
        flex-direction: row;
    }
    footer .footerContent nav{
        display: flex;
        flex-direction: row;
    }


    .galleryFiveBigBox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .galleryFiveBigBox img{
        width: 40%;
       max-height: 860px;
       object-fit: cover;
    }
    .galleryFiveBox{
        margin-left: 1.5rem;
        width: 57%;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .galleryFiveBox img{
        width: 100%;
    }

}

/* big */
@media screen and (min-width:1200px){

    .fivebox{
        width: 100%;
    }

    .homeTwoBox{
        width: 33%;
    }
    .homeFourBox{
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        justify-content: space-between;
    }
    .homeFourBigBox{
        width: 100%;
        max-width: 1040px;
        display: flex;
        flex-direction: row;
    }

    .galleryOneBox{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    .galleryOneBoxTwo{
        flex-direction: row-reverse;
    }
    .galleryOneText{
        width: 48%;
        margin: 1rem;
    }
    .galleryOneBox img{
        width: 48%;
    }
    .galleryFiveBigBox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .galleryFiveBigBox img{
        width: 25%;
        height: auto;
        object-fit: cover;
    }
    .galleryFiveBox{
        margin-left: 1.5rem;
        width: 73%;
        display: flex;
        flex-direction: column;
        text-align: left;

    }
    .galleryFiveBox img{
        width: 100%;
    }
    


}
